$border-color-default: #4D90FE

.container
  margin: 0 auto
  max-width: 300px
  padding-top: 65px


label
  width: 100px
  text-align: right


.form-row
  width: 500px
  margin-bottom: 10px



input
  height: 25px


.normal-input
  width: 150px


h1
  text-align: center
  margin-bottom: 30px
  margin-top: 50px


.stripe-field app-fa-input
  border: 1px solid $border-color-default
