<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container">
      <a class="v-center-block-parent">
        <img class="v-center-block logo-small angular-university-logo"
             src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
             data-pin-nopin="true">

      </a>
    </li>
    <li>
      <a>Inputs</a>
    </li>
  </ul>

</header>

<body>
<div class="container">




  <h1>Font Awesome</h1>

  <div class="form">



    <div class="form-row">
      <label>Email:</label>
      <app-fa-input [icon]="'envelope'" id="email-field">
        <input class="normal-input test-class" type="email"   placeholder="Email">
      </app-fa-input>
    </div>

    <div class="form-row fa-input-red-theme">
      <label>Password:</label>
      <app-fa-input icon="lock" id="password-field">
        <input class="normal-input test-class"  placeholder="Password">
      </app-fa-input>
    </div>

    <div class="form-row stripe-field">
      <label>Stripe:</label>
      <app-fa-input icon="cc-stripe">
        <input class="normal-input" placeholder="Stripe">
      </app-fa-input>
    </div>

    <div class="form-row">
      <label>Paypal:</label>
      <app-fa-input icon="paypal">
        <input class="normal-input" placeholder="Paypal">
      </app-fa-input>
    </div>


    <h1>Material Design</h1>

    <div class="form-row">
      <label>Lock:</label>
      <app-md-input icon="search">
        <input type="email" name="email" placeholder="E-mail">
      </app-md-input>
    </div>

    <div class="form-row">
      <label>Id Number:</label>
      <app-md-input icon="perm_identity">
        <input type="email" name="email" placeholder="E-mail">
      </app-md-input>
    </div>

    <div class="form-row">
      <label>Receipt Number:</label>
      <app-md-input icon="receipt">
        <input type="email" name="email" placeholder="E-mail">
      </app-md-input>
    </div>


  </div>







</div>

</body>
