$border-color-red: red
\:host-context(.fa-input-red-theme)
  border-color:  $border-color-red
  &.input-focus
    -webkit-box-shadow: 0 0 5px $border-color-red
    box-shadow: 0 0 5px $border-color-red

