<h2>
  Tab Panel
</h2>


<div class="container">

  <ng-template #headerButtons>

    <button (click)="tabPanel.selectTab(loginTab)">Login</button>
    <button (click)="tabPanel.selectTab(signUpTab)">Sign Up</button>

  </ng-template>


  <app-tab-panel id="tab-panel" #tabPanel>

    <app-tab title="Login" #loginTab [selected]="false">
      <form>
        <div class="form-field">
          <label>Email:</label><input class="login-email">
        </div>
        <div class="form-field">
          <label>Password:</label><input>
        </div>
      </form>
    </app-tab>

    <app-tab title="Sign Up" #signUpTab [selected]="false">
      <form>
        <div class="form-field">
          <label>Email:</label><input>
        </div>
        <div class="form-field">
          <label>Password:</label><input>
        </div>
        <div class="form-field">
          <label>Confirm Password:</label><input>
        </div>
      </form>
    </app-tab>

    <app-tab title="Contact" [selected]="true">
      <form>
        <div class="form-field">
          <label>Email:</label><input class="contact-email">
        </div>
        <div class="form-field">
          <label>Message:</label>
          <textarea></textarea>
        </div>
      </form>
    </app-tab>

  </app-tab-panel>

</div>

