$primary: rgb(25, 118, 210);
$secondary: rgba(0, 0, 0, 0.117647);
$primary-tint-1: #3F94E9;
$text: rgba(26, 35, 38, 0.8);
$box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
$tab-border: 1px solid $secondary;
