.icon
  width: 20px
  padding:
    left: 5px
    right: 2px
  text-align: center
  border: none


\:host
  border:
    width: 1px
    style: solid
  padding: 1px 0
  display: inline-block
  &.input-focus
    outline: none

  & ::ng-deep input
    border: none
    outline: none
    height: 100%
    margin: 1px 0
    box-sizing: border-box
