  <ng-template #defaultTabsHeader>
    <ul class="tab-panel-buttons" *ngIf="tabs">
    <li [ngClass]="{'selected': tab.selected}"
        (click)="selectTab(tab)"
        *ngFor="let tab of tabs">{{tab.title}}</li>
  </ul>
  </ng-template>

  <ng-container *ngIf="headerTemplate; else defaultTabsHeader">

    <ng-container *ngTemplateOutlet="headerTemplate; tabsContext">

    </ng-container>

  </ng-container>


  <ng-content></ng-content>




